* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edede9;
  font-family: "Lato", sans-serif;
}
.app {
  padding: 1.5rem 3rem;
}
.header {
  text-align: center;
  font-weight: 400;
}
.controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem;
  margin-bottom: 6rem;
}

.dropdown--item {
  font-size: 16px;
  padding: 0px 6px;
  color: white;
  background-color: #2d6a4f;
  border: 1px solid green;
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
}

.dropdown--item > option {
  color: black;
  background-color: white;
  padding: 4px 2px;
}
.sort--group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sort--buttons-group {
  display: flex;
  gap: 2rem;
}
.sort--title {
  font-size: 18px;
  font-weight: 600;
}
.sort--buttons-group > button {
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background-color: #2d6a4f;
  border: 1px solid green;
}

.card--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  font-size: 14px;
  margin: 2rem rem;
  transition: transform 100ms ease-in-out;
}

.card--button-group {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  text-transform: uppercase;
  gap: 2rem;
}
.card--items {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #808080;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  transition: transform 300ms ease-in-out;
  position: relative;
}
.card--items:hover {
  transform: scale(1.1);
}

.card--button-group > button {
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.modal {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 15px;
  width: auto;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 15px 20px;
  top: -90px;
}
.modal--buttons {
  padding: 8px;
  display: flex;
  gap: 2.4rem;
}
.modal--buttons > button {
  padding: 3.5px 14px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #2d6a4f;
}
